@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.hide-scrollbar {
  overflow-y: hidden
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: none;
}